body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  /* padding: 2cm; */
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 0;
  /* border: 1px black solid; */
  height: 237mm;
  /* outline: 2cm #fff solid; */
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  .page {
    -webkit-print-color-adjust: exact;
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.characterContainer {
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  align-content: center;
}

.headerInfo {
  width: 80%;
}

.name {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-start;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 20%;
}

.experience {
  margin-left: 50px;
  margin-right: 16px;
  margin-top: 8px;
}

.info {
  margin-top: 8px;
  margin-left: 50px;
}

.infoRow {
  display: flex;
}

.infoContainer {
  margin-right: 16px;
  width: 25%;
  flex-direction: column-reverse;
  display: flex;
}

.infoValue {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.label {
  font-size: 14px;
  color: #8c8c8c;
  border-top: 1px solid #8c8c8c;
  margin-top: 2px;
}

.columns {
  display: flex;
}

.stats {
  background-color: #c9c7c7;
  border-radius: 8px;
  width: 100px;
  padding: 24px 16px 0px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.statLabel {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.stat {
  background-color: #fff;
  height: 85px;
  border: 1px solid #000;
  border-radius: 8px;
  width: 85px;
  margin-bottom: 24px;
}

.statValue {
  font-size: 32px;
}

.proficiencies {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 16px;
}

.profBonusContainer {
  display: flex;
  width: 300px;
}

.profBonusValue {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 24px;
  border: 1px solid #000;
  align-self: flex-start;
  line-height: 48px;
}

.profBonusLabel {
  text-transform: uppercase;
  width: 137px;
  font-weight: bold;
  font-size: 10px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-style: solid;
  border-color: #000;
  padding: 4px 16px;
  height: 24px;
  margin-top: 8px;
  line-height: 24px;
  transform: translateX(-6px);
}

.bonuses {
  margin-top: 16px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 200px;
}

.bonus {
  display: flex;
  margin-bottom: 8px;
}

.bonusNoProf {
  height: 10px;
  width: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 3px;
  margin-right: 8px;
}

.bonusProf {
  height: 10px;
  width: 10px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 5px;
  margin-top: 3px;
  margin-right: 8px;
}

.bonusValue {
  margin-right: 8px;
  border-bottom: 1px solid #000;
  width: 28px;
}

.skillStat {
  color: #8c8c8c;
}
